<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student1.tweet_mees">

    <application
        android:allowBackup="true"
        android:icon="@drawable/twitter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="35e2a5113076b70d567006b8bbbda06bd68a96c3" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>